
    <section id="elephase">
        <div>
            <p>Stop by the store to enjoy amazing deals and <br>special offers!</p>
            <button class="btn btn-primary" type="submit">Contact Us</button>
            <hr>
            <h1>Upcoming Events</h1>
            <div class=bgimage>
                <div id="clockDisplay"></div>
            </div>
        </div>
        </section>
        <section id="twephase">
            <div>
                <h1>Volunteer Day <a class="fa fa-angle-down"></a></h1>
                <button class="btn btn-primary">RSVP</button>
            </div>
            <hr>
            <div class="bg2image">
                <p class="dateView">{{date}}</p>
                <p class="dayView">{{week}}</p>
                <p class="monthView">{{month}}</p>
            </div>
            <div>
                <h1 class="twehead2">Neighborhood  Banquet <a class="fa fa-angle-down"></a></h1>
                <button class="button2 btn btn-primary">RSVP</button>
            </div>
        </section>
        <section id="thirphase">
            <hr>
            <div class="bg3image">
                <p class="dateView">{{date}}</p>
                <p class="dayView">{{week}}</p>
                <p class="monthView">{{month}}</p>
            </div>
            <div>
                <h1 class="twehead2">Family Fair <a class="fa fa-angle-down"></a></h1>
                <button class="button2 btn btn-primary">RSVP</button>
            </div>
        </section>
