
#forthphase{
    background-image: url("../../assets/img/pastre2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 1px;
    height: 800px;   
}
#forthphase div h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 29px;
    font-size: 33px;
}
#forthphase div p{
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}