
    <section id="forthphase">
        <div>
            <h1>Pastry</h1>
            <p>Pastry is a dough of flour, water and shortening (solid fats, including butter) that may be savoury or <br> sweetened. 
                Sweetened pastries are often described as bakers' confectionery. The word "pastries" suggests many kinds <br>of baked 
                products made from ingredients such as flour, sugar, milk, butter, shortening, baking powder, <br>and eggs. Small tarts and other
                sweet baked products are called pastries. <br> sweet baked products are called pastries. <br>
                Common pastry dishes include pies, tarts, quiches, croissants, and pasties.</p>
        </div>
    </section>