<section id="thirdphase">
    <div>
        <h1>Coffee</h1>
        <p>Coffee enriches our lives in ways we can hardly describe — what else could get us out of bed? <br>
            From the sumptuous scent of a freshly brewed seasonal blend in the morning to a refreshing caramel iced
            macchiato on a hot day,<br> nothing makes our hearts pump quite like that favorite cup of joe. Shop endless
            coffee-inspired products available here, <br> describe — what else could get us out of bed?
            From the <br> nothing makes our hearts pump quite like that favorite cup of joe.Shop endless
            coffee-inspired products <br>available here, from the incredibly useful to the downright ridiculous</p>
    </div>
</section>